h1 {
    color: #0081A7;
}

h2 {
    color: #FF1654;
}

ul {
    list-style: none;
}

.svg_list_icons > li {
    position: relative;
    line-height: 1.4;
}

.svg_list_icons > li:before {
    /*
    custom svg line item icon code found from:
    https://stackoverflow.com/questions/29932657/how-can-i-make-a-list-style-image-scale-with-the-lists-font-size-when-we-cant
    */
    position: absolute;
    display: block;
    content: '\2022'; /* bullet point, for screen readers */
    text-indent: -999999px; /* move the bullet point out of sight */
    left: -1em;
    width: 0.6em; /* desired width of the image */
    height: 1em; /* unrelated to image height; this is so it gets snipped */
    background-repeat: no-repeat;
    background-image: url("../img/common/custom_list_item_icon.svg");
    background-size: 0.6em .7em;
    background-position: 0 .3em;
}

.blue_list_items > li::before {
    content: "\2022";  /* \2022 is the CSS Code/unicode for a bullet */
    color: #0081A7;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

.small-list {
    font-size: 85%;
}

.large-list {
    font-size: 150%;
}

.flex_container {
    display: flex;
    flex-flow: row wrap;
}

.flex_item {
    padding-right: 1rem;
}

#my_face, #my_face picture * {
    width: 100%;
}

#about_section {
    justify-content: center;
}

#about_section > div {
    margin: 4rem 4rem;
}

#my_story {
    max-width: 35rem;
}

#my_story p {
    line-height: 1.4;
}

#skills_and_tools > div {
    min-width: 20rem;
    max-width: 35rem;
}

#skills_and_tools h2 {
    margin: 0;
}

@media only screen and (max-width: 640px) {    
    #about_section > div {
        margin: 1rem 2rem;
    }

    #skills_and_tools > div {
        min-width: 0rem;
    }
}