.center_inline {
    text-align: center;
}

.center_block {
    margin: 0 auto;
}

.project_content h1,
.project_content h2,
.project_content h3,
.project_content h4,
.project_content h5,
.project_content h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
}

.project_content p,
.project_content a,
.project_content li
{
    font-family: 'Roboto', sans-serif;
}

.project_content .serif {
    font-family: 'Roboto Slab', serif;
}

.project_content .sans_serif {
    font-family: 'Roboto', sans-serif;
}

h1.sans_serif,
h2.sans_serif,
h3.sans_serif,
h4.sans_serif,
h5.sans_serif,
h6.sans_serif {
    font-weight: 700;
}

.color_circle {
    border: 3px solid white;
    border-radius: 24px;
    height: 3rem;
    width: 3rem;
    margin: 0.5rem;
}

.navy_blue {
    background-color: #213150;
}

.medium_blue {
    background-color: #2556A6;
}

.pastel_blue {
    background-color: #6292CE;
}

.gray_blue {
    background-color: #A5B8E0;
}

.flex_container {
    display: flex;
    flex-wrap: wrap;
}

#style_guide {
    color: white;
}

#style_guide h3,
#style_guide h4,
#style_guide h5,
#style_guide h6,
#style_guide p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#style_guide > img {
    margin: 0;
    width: 100%;
}

#color_palette > h4, #typography > h4 {
    color: #8AE2FF;
    margin: 1rem 0 1rem 0;
}

@media only screen and (max-width: 640px) {
    .project_content h1 {
        font-size: 32px;
    }
    
    .project_content h2 {
        font-size: 28px;
    }
    
    .project_content h3 {
        font-size: 24px;
    }
    
    .project_content h4 {
        font-size: 22px;
    }
    
    .project_content h5 {
        font-size: 20px;
    }
    
    .project_content h6 {
        font-size: 18px;
    }

    .phone_screen {
        display: block;
        margin: 0 auto;
        width: 240px;
    }

    .large_screen {
        display: none;
    }

    #intro {
        background-color: #213250;
        color: #ffffff;
        padding: 3rem 2rem;
        width: 100%;
    }

    #footnote {
        color: #C5DFFF;
        font-weight: 500;
        margin-top: 4rem;
        margin-bottom: 4rem
    }

    #project_logo {
        width: 3.5rem;
    }

    #app_description {
        background-color: #6192CD;
        color: #ffffff;
        padding: 2rem;
    }

    #app_description ul {
        margin-bottom: 4rem;
    }

    #app_description li {
        margin: 0 0 1rem 0;
    }

    #desktop_screen_section > div {
        color: #213150;
        margin: 4rem 1rem 0 1rem;
        text-align: center;
    }

    #desktop_screen_section img {
        border-radius: 8px;
        box-shadow: 0px 2px 25px 8px #8B9091;
        display: block;
        margin: 4rem auto;
        width: 80%;
    }

    #user_flow > div {
        margin: 4rem 1rem 0 1rem;
        text-align: center;
    }

    #user_flow h3 {
        color: #213150;
        margin: 0.5rem;
    }

    #user_flow h4 {
        color: #6292CE;
        margin: 0.5rem;
    }

    #user_flow img {
        display: block;
        margin: 4rem auto;
        width: 80%;
    }

    #style_guide {
        background-color: #213150;
        padding: 4rem 2rem;
    }

    .color_palette_grid {
        display: grid;
        grid-template-columns: minmax(8rem, 1fr) minmax(8rem, 1fr);
        gap: 0.5rem;
    }

    #typography {
        margin-top: 6rem;
    }

    #typography_flex {
        display: flex;
        flex-wrap: wrap;
        color: #ffffff;
        gap: 4rem;
        margin-bottom: 2rem;
    }
    
    #typography_flex h1 {
        margin: 1rem 0;
    }

    #thank_you_section {
        background-color: #6192CD;
        color: #ffffff;
        padding: 2rem;
        text-align: center;
    }

    #thank_you_section img {
        display: block;
        margin: 3rem auto;
        width: 100%;
    }
}

/*
@media only screen and (max-width: 1024px) {
}
*/

@media only screen and (min-width: 641px) {
    .flex_container {
        justify-content: center;
    }

    .flex_container > * {
        margin: 2rem;
    }
    
    .project_content h1 {
        font-size: 48px;
    }
    
    .project_content h2 {
        font-size: 42px;
    }
    
    .project_content h3 {
        font-size: 40px;
    }
    
    .project_content h4 {
        font-size: 32px;
    }
    
    .project_content h5 {
        font-size: 24px;
    }
    
    .project_content h6 {
        font-size: 20px;
    }

    .project_content p {
        font-size: 18px;
    }

    .phone_screen {
        width: 240px;
    }

    #intro {
        background-color: #213250;
        color: #ffffff;
        padding: 3rem 2rem;
        width: 100%;
    }

    #intro_title, #footnote {
        text-align: center;
    }

    #intro_title h3 {
        font-size: 40px;
    }

    #intro_title p {
        font-size: 24px;
    }

    #footnote {
        color: #C5DFFF;
        font-weight: 500;
        margin-top: 4rem;
        margin-bottom: 4rem
    }

    #project_logo {
        width: 8rem;
    }

    #app_description {
        background-color: #6192CD;
        color: #ffffff;
        padding: 4rem 0;
    }

    #app_description ul {
        margin-bottom: 4rem;
    }

    #app_description li {
        margin: 0 0 1rem 0;
    }

    #app_description div.center_block {
        max-width: 40%;
    }

    #desktop_screen_section > div {
        color: #213150;
        margin: 4rem 1rem 0 1rem;
        text-align: center;
    }

    #desktop_screen_section div * {
        margin: 1rem;
    }

    #desktop_screen_section img {
        border-radius: 8px;
        box-shadow: 0px 2px 25px 8px #8B9091;
        display: block;
        margin: 8rem auto;
        width: 80%;
    }

    #user_flow > div {
        margin: 4rem 1rem 0 1rem;
        text-align: center;
    }

    #user_flow h3 {
        color: #213150;
        margin: 0.5rem;
    }

    #user_flow h4 {
        color: #6292CE;
        margin: 0.5rem;
    }

    #user_flow img {
        display: block;
        margin: 4rem auto;
        width: 80%;
    }

    #style_guide {
        background-color: #213150;
        padding: 6rem 2rem;
    }

    #style_guide h2 {
        margin: 0;
        text-align: center;
    }

    .color_palette_grid {
        display: grid;
        grid-template-columns: minmax(8rem, 1fr) minmax(8rem, 1fr);
        gap: 0.5rem;
    }

    #typography_flex {
        display: flex;
        flex-wrap: wrap;
        color: #ffffff;
        gap: 4rem;
        margin-bottom: 2rem;
    }

    #typography_usage, #typography_flex > div {
        max-width: 16rem;
    }
    
    #typography_flex h1 {
        margin: 1rem 0;
    }

    #thank_you_section {
        background-color: #6192CD;
        color: #ffffff;
        padding: 6rem;
        text-align: center;
    }

    #thank_you_section img {
        display: block;
        margin: 3rem auto;
        width: 100%;
    }
}