.project_content h1,
.project_content h2,
.project_content h3,
.project_content h4,
.project_content h5,
.project_content h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
}

.project_content p,
.project_content a,
.project_content li
{
    font-family: 'Roboto', sans-serif;
}

.project_content .serif {
    font-family: 'Roboto Slab', serif;
}

.project_content .sans_serif {
    font-family: 'Roboto', sans-serif;
}

h1.sans_serif,
h2.sans_serif,
h3.sans_serif,
h4.sans_serif,
h5.sans_serif,
h6.sans_serif {
    font-weight: 700;
}

.project_content h1 {
    font-size: 48px;
}

.project_content h2 {
    font-size: 42px;
}

.project_content h3 {
    font-size: 40px;
}

.project_content h4 {
    font-size: 32px;
}

.project_content h5 {
    font-size: 24px;
}

.project_content h6 {
    font-size: 20px;
}

.color_circle {
    border: 3px solid white;
    border-radius: 24px;
    height: 3rem;
    width: 3rem;
    margin: 0.5rem;
}

.navy_blue {
    background-color: #213150;
}

.medium_blue {
    background-color: #2556A6;
}
.pastel_blue {
    background-color: #6292CE;
}
.gray_blue {
    background-color: #A5B8E0;
}

#intro_content {
    position: absolute;
    top: 20%;
    display: flex;
    padding: 4rem 4rem;
    width: 100%;
}

#intro_content > div {
    margin: 0 4rem;
}

#intro_content img {
    height: 527px;
    width: 277px
}

#intro > img {
    margin-bottom: 4rem;
    width: 100%;
}

#intro_message {
    color: white;
    height: 10rem;
    width: 40rem;
}

#intro_message p {
    font-size: 24px;
}

#intro_message svg {
    width: 8rem;
    height: 8rem;
}

#phone_screens {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); */
    grid-template-columns: minmax(20rem, 1fr) minmax(20rem, 1fr);
    gap: 2rem;
}

#middle_section {
    text-align: center;
}

#middle_section h1 {
    color: #213150;
    margin: 6rem 0 0 0;
}

#middle_section h3 {
    color: #6292CE;
    margin: 0 0 1rem 0;
}

#middle_section p {
    color: #213150;
    font-size: 20px;
    margin-bottom: 3rem;
}

#middle_section img {
    margin: 5rem 0;
    width: 75%;
}

#desktop_screens img {
    border-radius: 18px;
    box-shadow: 0px 2px 50px 15px #8B9091;
}

#bottom_section {
    color: white;
}

#bottom_section h3,
#bottom_section h4,
#bottom_section h5,
#bottom_section h6,
#bottom_section p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#bottom_section > div {
    position: relative;
    top: -132rem;
}

#bottom_section img {
    margin: 0;
    width: 100%;
}

#style_guide {
    margin: 0 15% 0 15%;
}

#style_guide_grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 2rem;
}

#color_palette_grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    /*grid-template-columns: 10rem 3rem;*/
    gap: 1rem;
}

#typography_flex {
    display: flex;
    color: #ffffff;
}

#thank_you_section {
    text-align: center;
    width: 75%;
    margin: 12rem auto;
}