/*
=== Colors Used ===
#0081A7 - Medium blue
#97DFFC - Light blue
#00AFB9 - Teal
#FFFFFF - White
#FF1654 - Magenta

=== Fonts Used ===
Montserrat - used for headings
Nunito - used for regular text
*/

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

a, p, li {
    font-family: 'Nunito', sans-serif;
}

header {
    background-color: #0081A7;
    min-height: 68px;
    width: 100%;
    position: fixed;
    box-shadow: 0 5px 10px rgba(85, 85, 85, 0.25);
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 1000;
}
  
nav {
    float: right;
}
  
nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 22px 24px;
    text-align: center;
    vertical-align: middle;
}

main {
    padding-top: 68px;
}

footer {
    background-color: #0081A7;
    text-align: center;
    padding: 2rem;
}

footer h1 {
    color: #97DFFC;
    margin: 0.5rem;
}

footer p {
    color: white;
    margin: 0.5rem;
}

footer div {
    margin: 1.5rem;
}

footer a svg {
    max-width: 48px;
    max-height: 48px;
    margin: 0 0.5rem;
}

.button {
    background-color: #FF1654;
    color: white;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 0.75px;
    padding: 10px 16px 10px 16px;
    border-radius: 24px;
    text-align: center;
    text-decoration: none;
    transition: 0.75s opacity;
}

.button:hover {
    opacity: 0.7;
}

#logo {
    float: left;
    padding: 9px 24px;
}

#logo a img {
    max-width: 184px;
    max-height: 46px;
}

@media only screen and (max-width: 640px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.3em;
    }
    
    h3 {
        font-size: 1.1em;
    }

    header {
        padding-top: 10px;
    }

    header nav {
        text-align: center;
        width: 100%;
    }

    header nav a {
        font-size: 1em;
        padding: 14px 20px;
    }

    main {
        padding-top: 68px;
    }

    .active_tab {
        background-color: #00AFB9;
    }

    .icon {
        position: absolute;
        right: 0;
        top: 12px;
    }

    .navlinks.responsive {
        display: block;
    }
    
    .navlinks a:not(:last-child) {
        display: none;
    }

    .navlinks.responsive a {
        display: block;
    }

    #logo {
        display: inline-block;
        text-align: center;
        padding: 0 0 0 12px;
    }
}

@media only screen and (min-width: 641px) {
    nav a:last-child {
        display: none;
    }

    .active_tab {
        border-bottom: 6px solid #08c9d3;
        padding: 22px 24px 17px 24px;
    }
}