* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

p, li {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

header {
    width: 100%;
    height: 68px;
    background-color: #0081A7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
}

header nav a:hover {
    color: #97DFFC;
}

footer {
    background-color: #0081A7;
    text-align: center;
    padding: 2rem;
}

footer h1 {
    color: #97DFFC;
    margin: 0.5rem;
}

footer p {
    color: white;
    margin: 0.5rem;
}

footer div {
    margin: 1.5rem;
}

footer a svg {
    max-width: 48px;
    max-height: 48px;
    margin: 0 0.5rem;
}

.button {
    background-color: #FF1654;
    color: white;
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.75px;
    padding: 10px 16px 10px 16px;
    border-radius: 24px;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: #FF5E89;
}

#logo {
    margin: 0;
    padding: 0px 0px 0px 20px;
}

#logo a img {
    max-width: 184px;
    max-height: 46px;
}