/*
=== Colors Used ===
#0081A7 - Medium blue
#97DFFC - Light blue
#00AFB9 - Teal
#FFFFFF - White
#FF1654 - Magenta

=== Fonts Used ===
Montserrat - used for headings
Nunito - used for regular text
*/

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

a, p, li {
    font-family: 'Nunito', sans-serif;
    /*font-size: 18px;*/
}

header {
    width: 100%;
    min-height: 68px;
    background-color: #0081A7;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    box-shadow: 0px 5px 10px rgba(85, 85, 85, 0.25);
    z-index: 1000;
}

header nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 14px 24px;
}

header nav a:hover, header nav a:focus {
    color: #97DFFC;
}

main {
    padding-top: 68px;
}

footer {
    background-color: #0081A7;
    text-align: center;
    padding: 2rem;
}

footer h1 {
    color: #97DFFC;
    margin: 0.5rem;
}

footer p {
    color: white;
    margin: 0.5rem;
}

footer div {
    margin: 1.5rem;
}

footer a svg {
    max-width: 48px;
    max-height: 48px;
    margin: 0 0.5rem;
}

.active_tab {
    border-bottom: 4px solid #97DFFC;
}

.button {
    background-color: #FF1654;
    color: white;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 0.75px;
    padding: 10px 16px 10px 16px;
    border-radius: 24px;
    text-align: center;
    text-decoration: none;
    transition: 0.75s opacity;
}

.button:hover {
    opacity: 0.7;
}

#logo {
    flex: auto;
    margin: 0;
    padding-left: 24px;
}

#logo a img {
    max-width: 184px;
    max-height: 46px;
}

@media only screen and (max-width: 640px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.3em;
    }
    
    h3 {
        font-size: 1.1em;
    }

    header {
        padding-top: 10px;
    }

    header nav {
        text-align: center;
        width: 100%;
    }

    header nav a {
        font-size: 1em;
        padding: 14px 20px;
    }

    main {
        padding-top: 110px;
    }

    #logo {
        display: inline-block;
        text-align: center;
        padding: 0;
    }
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1440px) {
}