h1, h2, h3, h4, h5, h6 {
    color: #0081A7;
}

p {
    font-size: 16px;
}

#welcome_section {
    width: 100%;
}

#my_work_section h1 {
    margin-top: 2rem;
    text-align: center;
}

.card_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 6rem;
    padding: 1rem 8rem 4rem 8rem;
}

.project_card {
    box-shadow: 0px 5px 19px #8B9091;
}

.project_card img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.project_card div {
    padding: 1.5rem;
}

.project_card div h2 {
    margin: 0;
    color: #00AFB9;
}

.project_card div p {
    margin-top: 0.5rem;
}

@media only screen and (max-width: 640px) {
    .large_svg {
        display: none;
    }

    .small_svg {
        display: block;
    }
    
    #my_work_section h1 {
        font-size: 1.5em;
        margin: 0.75em 0 0 0;
    }
    
    .card_grid {
        gap: 3rem;
        padding: 1rem 1.5rem 1.5rem 1.5rem;
    }

    @keyframes moveRectangle1 {
        0% {
            x: 15px;
        }
        50% {
            x: 37px;
        }
        100% {
            x: 15px;
        }
    }
    
    @keyframes moveRectangle2 {
        0% {
            x: -16px;
        }
        50% {
            x: -4px;
        }
        100% {
            x: -16px;
        }
    }
    
    @keyframes moveRectangle3 {
        0% {
            x: -82px;
        }
        50% {
            x: -132px;
        }
        100% {
            x: -82px;
        }
    }
    
    @keyframes moveRectangle4 {
        0% {
            x: -63px;
        }
        50% {
            x: -103px;
        }
        100% {
            x: -63px;
        }
    }
    
    @keyframes moveRectangle5 {
        0% {
            x: 464px;
        }
        50% {
            x: 424px;
        }
        100% {
            x: 464px;
        }
    }
    
    @keyframes moveRectangle6 {
        0% {
            x: 405px;
        }
        50% {
            x: 457px;
        }
        100% {
            x: 405px;
        }
    }
    
    @keyframes moveRectangle7 {
        0% {
            x: 426px;
        }
        50% {
            x: 459px;
        }
        100% {
            x: 426px;
        }
    }
    
    @keyframes moveRectangle8 {
        0% {
            x: 426px;
        }
        50% {
            x: 382px;
        }
        100% {
            x: 426px;
        }
    }
    
    #rect_light_blue_left {
        animation-duration: 3s;
        animation-name: moveRectangle1;
        animation-iteration-count: infinite;
    }
    
    #rect_teal_left {
        animation-duration: 2s;
        animation-name: moveRectangle2;
        animation-iteration-count: infinite;
    }
    
    #rect_magenta_left {
        animation-duration: 4s;
        animation-name: moveRectangle3;
        animation-iteration-count: infinite;
    }
    
    #rect_blue_left {
        animation-duration: 3s;
        animation-name: moveRectangle4;
        animation-iteration-count: infinite;
    }
    
    #rect_magenta_right {
        animation-duration: 3s;
        animation-name: moveRectangle5;
        animation-iteration-count: infinite;
    }
    
    #rect_teal_right {
        animation-duration: 4s;
        animation-name: moveRectangle6;
        animation-iteration-count: infinite;
    }
    
    #rect_blue_right {
        animation-duration: 2s;
        animation-name: moveRectangle7;
        animation-iteration-count: infinite;
    }
    
    #rect_light_blue_right {
        animation-duration: 3s;
        animation-name: moveRectangle8;
        animation-iteration-count: infinite;
    }
}

@media only screen and (min-width: 641px) {
    .large_svg {
        display: block;
    }

    .small_svg {
        display: none;
    }

    @keyframes moveRectangle1 {
        0% {
            x: 138px;
        }
        50% {
            x: 160px;
        }
        100% {
            x: 138px;
        }
    }
    
    @keyframes moveRectangle2 {
        0% {
            x: 56px;
        }
        50% {
            x: 78px;
        }
        100% {
            x: 56px;
        }
    }
    
    @keyframes moveRectangle3 {
        0% {
            x: -151px;
        }
        50% {
            x: -201px;
        }
        100% {
            x: -151px;
        }
    }
    
    @keyframes moveRectangle4 {
        0% {
            x: -92px;
        }
        50% {
            x: -132px;
        }
        100% {
            x: -92px;
        }
    }
    
    @keyframes moveRectangle5 {
        0% {
            x: 910px;
        }
        50% {
            x: 890px;
        }
        100% {
            x: 910px;
        }
    }
    
    @keyframes moveRectangle6 {
        0% {
            x: 798px;
        }
        50% {
            x: 840px;
        }
        100% {
            x: 798px;
        }
    }
    
    @keyframes moveRectangle7 {
        0% {
            x: 923px;
        }
        50% {
            x: 956px;
        }
        100% {
            x: 923px;
        }
    }
    
    @keyframes moveRectangle8 {
        0% {
            x: 1168px;
        }
        50% {
            x: 1144px;
        }
        100% {
            x: 1168px;
        }
    }
    
    #rect_light_blue_left {
        animation-duration: 3s;
        animation-name: moveRectangle1;
        animation-iteration-count: infinite;
    }
    
    #rect_teal_left {
        animation-duration: 2s;
        animation-name: moveRectangle2;
        animation-iteration-count: infinite;
    }
    
    #rect_magenta_left {
        animation-duration: 4s;
        animation-name: moveRectangle3;
        animation-iteration-count: infinite;
    }
    
    #rect_blue_left {
        animation-duration: 3s;
        animation-name: moveRectangle4;
        animation-iteration-count: infinite;
    }
    
    #rect_magenta_right {
        animation-duration: 2s;
        animation-name: moveRectangle5;
        animation-iteration-count: infinite;
    }
    
    #rect_teal_right {
        animation-duration: 4s;
        animation-name: moveRectangle6;
        animation-iteration-count: infinite;
    }
    
    #rect_blue_right {
        animation-duration: 2s;
        animation-name: moveRectangle7;
        animation-iteration-count: infinite;
    }
    
    #rect_light_blue_right {
        animation-duration: 3s;
        animation-name: moveRectangle8;
        animation-iteration-count: infinite;
    }
}